<div style="text-align:center">
    <h1>
      Welcome to CMS with Angular!
    </h1>
    <div class="center-ul">
      <h2>Whats new in Angular</h2>
      <ul>
        <li>
          <h3>Progressive Web Applications</h3>
        </li>
        <li>
          <h3>Built with AOT</h3>
        </li>
        <li>
          <h3>Forms validation behavior</h3>
        </li>
        <li>
          <h3>Internationalized Number. Date, Currency Pipes</h3>
        </li>
        <li>
          <h3>HttpClient</h3>
        </li>
        <li>
          <h3>Router additional events</h3>
        </li>
        <li>
          <h3>Multiple Export Alias</h3>
        </li>
        <li>
          <h3>Improved Animations in Angular 5</h3>
        </li>
      </ul>
    </div>
    <img width="300" alt="Angular Logo" src="https://angular.io/assets/images/logos/angular/angular.svg">
  </div>
